{% extends 'base.html' %}
{% block content %}
    <h2 style="padding: 25px;">进存销管理系统</h2>
    <form class="layui-form" action="login" method="get">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码框</label>
    <div class="layui-input-inline">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <div style="font-size: 15px;color: #dc62c7;column-width: auto">{{ error }}</div>
      <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
    </div>
  </div>
    {% csrf_token %}
</form>


{% endblock %}