  <div class="layui-tab-content">

    <!--查看分类页面开始-->
    <div class="layui-tab-item layui-show">
         {% if data %}
         <table class="layui-table" id="typelist">
         <thead>
         <sr>
             <th>分类编号</th>
             <th>分类名称</th>
             <th>备注信息</th>
             <th>编辑分类</th>
             <th>删除分类</th>
         </sr>
         </thead>
         <tbody>
         {% for iterm in data %}
         <tr>
             <td>{{ iterm.id }}</td>
             <td>{{ iterm.type }}</td>
             <td> {{ iterm.comment }}</td>
             <td ><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="btn_edit({{ iterm.id }})">编辑</button></td>
             <td ><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="btn_delete({{ iterm.id }})">删除</button></td>
         </tr>
        {% endfor %}
         </tbody>
         </table>
    {% else %}
         <div style="padding: 15px;">分类数据为空</div>
     {% endif %}
    </div>
    </div>
